{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>

    <section class="start" style="background: url('{% static 'background_start.jpg' %}');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;">
        <div class="container">
            <header class="header">
                <a href="{% url 'post_list' %}" class="logo" style="background-color: white; border-radius: 8px; width: 50px;padding: 10px;"><img src="{% static 'logo.png' %}" alt=""></a>
                <nav class="menu">
                    <ul>
                        {% if user.is_authenticated %}
                            <li><a href="#" class="header-link">{{user.name}} {{user.surname}}</a></li>
                            <li><a href="{% url 'logout' %}" class="header-link">Logout</a></li>
                        {% else %}
                            <li><a href="{% url 'login' %}" class="header-link">Login</a></li>
                            <li><a href="{% url 'registr' %}" class="header-link">Registration</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </header>
            <div class="start-content">
                <h1 class="start-content__title">Let's do it together.</h1>
                <p class="start-content__sub-title">We travel the world in search of stories. Come along for the ride.
                </p>
                {% block add %}
                
                {%endblock%}
            </div>
        </div>
    </section>

    
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer class="footer" style="background: url('{% static 'footer-background.jpg' %}'); background-size: cover; background-repeat: no-repeat;background-position: center;">
        <div class="footer-content">
            <h3>Stay in Touch</h3>
            <form class="footer-form">
                <input name="email" type="email" placeholder="Enter your email address">
                <button class="submit">Submit</button>
            </form>
        </div>
        <div class="footer-nav">
            <div class="container">
                <div class="footer-nav__wraper">
                    <a href="{% url 'post_list' %}" style="background-color: white; border-radius: 8px; width: 50px;padding: 10px;">
                        <img src="{% static 'logo.png' %}" alt="">
                    </a>
                    <nav class="footer-menu">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Categories</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>